---
layout: default
title: 成就室
show: true
---

{% include header.html %}

<!-- Main Content -->
<div class="container">
	<div class="row achievement-list">
    {% if site.data.achievements.achievements %}{% for achievement in site.data.achievements.achievements %}
    <div class="achievement-item">
    <div class="achievement-box">
      <div class="achievement-name">{{achievement.name}}</div>
      <div class="achievement-time">{{achievement.time}}</div>
      <img src="{{achievement.img}}" alt class="achievement-img img-responsive">
      <div class="achievement-detail">{{achievement.detail}}</div>
      {% if achievement.url %}<a class="achievement-link" target="_blank" href="{{achievement.url}}">{% if achievement.urlName %}{{ achievement.urlName }}{% else %}更多{% endif %}</a>{% endif %}
    </div>
    </div>
    {% endfor %}{% endif %}
  </div>
</div>
