<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div
                class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container"
            >
                <!-- Featured Tags -->
                {% if site.featured-tags %}{% if page.url != '/archive/' %}
                <section>
                    <p><a href="/archive/">FEATURED TAGS</a></p>
                    <div class="tags">
                        {% for tag in site.tags %} {% if tag[1].size >
                        {{site.featured-condition-size}} %}
                        <a
                            href="{{ site.baseurl }}/archive/?tag={{ tag[0] }}"
                            title="{{ tag[0] }}"
                            rel="{{ tag[1].size }}"
                        >
                            {{ tag[0] }}
                        </a>
                        {% endif %} {% endfor %}
                    </div>
                </section>
                {% endif %}{% endif %}

                <!-- Friends Blog -->
                {% if site.data.friends.friends %}
                <hr class="hidden-sm hidden-xs" />
                <p>FRIENDS</p>
                <ul class="list-inline">
                    {% for friend in site.data.friends.friends %}
                    <li>
                        <a target="_blank" href="{{ friend.href }}"
                            >{{ friend.title }}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!-- kill the Facebook and Weibo -->
                    <li>
                        <a href="{{ site.baseurl }}/feed.xml">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a
                            href="https://twitter.com/{{ site.twitter_username }}"
                        >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i
                                    class="fa fa-twitter fa-stack-1x fa-inverse"
                                ></i>
                            </span>
                        </a>
                    </li>
                    {% endif %} {% if site.github_username %}
                    <li>
                        <a
                            target="_blank"
                            href="https://github.com/{{ site.github_username }}"
                        >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i
                                    class="fa fa-github fa-stack-1x fa-inverse"
                                ></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!--
                    {% if site.douban_username %}
                    <li>
                        <a href="http://www.douban.com/people/{{ site.douban_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-douban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    <!--
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->

                    {% if site.zhihu_username %}
                    <li>
                        <a
                            target="_blank"
                            href="https://www.zhihu.com/people/{{ site.zhihu_username }}"
                        >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <!--
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    -->
                </ul>
                <p class="copyright text-muted">
                    &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. ❖
                    Powered by Jekyll. ❖ Forked from CnFeat and Hux.
                </p>
                <div style="text-align:center">
                    <div id="google_translate_element"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div
    id="outerdiv"
    style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;"
>
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>

<!-- toc -->
<script src="{{ site.baseurl }}/js/jekyll-table-of-contents.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#toc').toc()
    })
</script>

<!-- smooth-scroll -->
<script src="{{ site.baseurl }}/js/smooth-scroll.min.js"></script>
<script type="text/javascript">
    var scroll = new SmoothScroll('a[href*="#"]', {
        offset: 200,
        speed: 100,
        autoCoefficent: 10,
    })
</script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/clean-blog.min.js"></script>
<script src="{{ site.baseurl }}/js/muzhou-blog.js"></script>
<script src="{{ site.baseurl }}/js/rellax.min.js"></script>
<script>
  // Accepts any class name
  var rellax = new Rellax('.rellax', {
    speed: -2,
    center: false,
    wrapper: null,
    round: true,
    vertical: true,
    horizontal: false
  });
</script>
<script src="{{ site.baseurl }}/public/lazer_click/main.js"></script>

<!-- google translate -->
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                pageLanguage: 'zh-CN',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                multilanguagePage: true,
            },
            'google_translate_element'
        )
    }
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {
                pageLanguage: 'zh-CN',
                layout:
                    google.translate.TranslateElement.FloatPosition.TOP_LEFT,
                multilanguagePage: true,
            },
            'google_translate_element'
        )
    }
</script>
<script src="{{ site.baseurl }}/js/google-translate.js"></script>
