---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
    #header0{z-index:2;}
</style>
<header id="header0" class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
            <div id="qrcode-block" class="hidden-xs hidden-sm">
            	<div id="qrcode"></div>
            	<p style="text-align:right;color:white">手机阅读</p>
            </div>
        </div>
    </div>
</header>

<script src="{{ "/js/qart.min.js " | prepend: site.baseurl }}"></script>
<script>
//jQuery('#qrcode').qrcode({width: 128,height: 128,text: "{{ site.url }}{{ page.url }}"});
new QArt({
  value: '{{ site.url }}{{ page.url }}',
  imagePath: '/img/mz.jpg',
  filter: 'color',
  background: '#208c5b',
  version: 5,
  size: 128
}).make(document.getElementById('qrcode'));
</script>
<style>
#qrcode-block{
	position: relative;
	left: 1000px;
	top: -300px;
	height: 128px;
	width: 128px;
}
</style>

<!-- Post Content -->
<article>
<div id="maintext" class="col-md-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
              <blockquote>
                <p>{% if page.copyright %}{{ page.copyright }}{% else %}本页面内容授权规范转载，转载请注明出处{% endif %}</p>
                <p>页尾评论区需使用 Github 账号登陆使用，评论区内容公开存储于本项目 issue 中</p>
                {% if page.timedepend %}
                <p style="color:#e03636">本文内容具有时效性，请注意本文的最后一次修改时间为 {{ page.lastDate | date: "%B %-d, %Y" }}</p>
                {% endif %}
                {% if page.screenrequire %}
                <p style="color:#e0bd36">考虑到本文内容，建议您使用较大尺寸屏幕进行阅读</p>
                {% endif %}
                {% if page.editing %}
                <p style="color:#0066CC">本文处于持续编辑状态，内容可能缺乏完整性及严谨性</p>
                {% endif %}
                {% if page.musicID %}
                <p style="color:#00CD00">本文已设置专属背景音乐，请点击右上角欣赏</p>
                {% endif %}
              </blockquote>
              <div class="post-content" {% if page.question %} style="display:none" {% endif %}>
                {{ content }}
              </div>
              <form class="form-inline post-pass" {% if page.question %}{% else %} style="display:none" {% endif %}>
                <div class="form-group">
                  <p style="color:#e03636">内容已锁定</p>
                  <p class="post-pass-question">{{ page.question }}</p>
                  <label for="post-pass-input" class="sr-only">Password</label>
                  <input type="password" id="post-pass-input" class="form-control post-pass-input" placeholder="password"></input>
                  <button class="btn post-pass-submit">验证</button>
                </div>
              </form>
              <script>
                $(document).ready(function() {
                  $('.post-pass-submit').click(function(){
                    if("{{ page.password }}" == $('.post-pass-input').val()){
                      $('.post-content').show();
                      $('.post-pass').hide();
                    }
                  })
                })
              </script>

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; 上一个博文</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一个博文 &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                <h1 class="comment-head">评论区</h1>

				<div id="commentcontainer"></div>

                <!-- Duoshuo Share start
                <style>
                    .ds-share{
                        text-align: right;
                    }

                    @media only screen and (max-width: 700px) {
                        .ds-share {

                        }
                    }
                </style>
                <div class="ds-share"
                    data-thread-key="{{page.id}}" data-title="{{page.title}}"
                    data-images="{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
                    data-content="{{ content | strip_html | truncate:80 }} | Microdust:Azeril's blog"
                    data-url="{{site.url}}{{page.url}}">
                    <div class="ds-share-inline">
                      <ul  class="ds-share-icons-16">

                        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                        <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                        <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                        <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                      </ul>
                      <div class="ds-share-icons-more">
                      </div>
                    </div>
                <hr>
                </div>
                 Duoshuo Share end-->


                {% if site.duoshuo_username %}
                <!-- 多说评论框 start -->
                <div class="comment">
                    <div class="ds-thread"
                        data-thread-key="{{page.id}}"
                        data-title="{{page.title}}"
                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
                    </div>
                </div>
                <!-- 多说评论框 end -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <div class="col-md-3 scrollspy" role="navigation">
        <nav id="toc" class="nav hidden-xs hidden-sm affix" data-spy="affix" data-offset-top="380" data-toggle="toc">
            <ul class="toc"></ul>
        </nav><!-- end of main navigation -->
    </div>
</article>

<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
<script>
var gitment = new Gitment({
  id: '{{ page.url }}',
  owner: 'MuZhou233',
  repo: 'muzhou233.github.io',
  oauth: {
    client_id: '497be462d2fb3ee352ff',
    client_secret: 'c0013ee9f11e194af8959d8f2a0984234683d849',
  },
})
gitment.render('commentcontainer')
</script>

<script>
/* async load function */
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
/* anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ */
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'hover',
          placement: 'right',
          //icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading');
    })
    function count(){
        if(typeof i == "undefined")i = 1;
        return "head"+i++;
    }
    $(":header").attr("id",count);
/* Highlight.js */
    async("https://cdn.bootcss.com/highlight.js/9.7.0/highlight.min.js",function(){
        hljs.initHighlightingOnLoad();
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>

<!-- Highlight.css -->
<!--link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet"-->
<!--link href="http://cdn.bootcss.com/highlight.js/9.7.0/styles/googlecode.min.css" rel="stylesheet"-->
