---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">功能开发中，仅供娱乐</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
        <div class="video">
        {% if page.videoType == "bilibili" %}
            <iframe src="{{ page.videoUrl }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="videoBiliBili"> </iframe>
        {% endif %}{% if page.videoType == "hls" %}
            <video-js id=vid1 class="vjs-default-skin" controls>
                <source
                   src="{{ page.videoUrl }}"
                   type="application/x-mpegURL">
            </video-js>
            <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
            <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
            <script src="https://unpkg.com/@videojs/http-streaming/dist/"></script>
            <script>
              var player = videojs('vid1');
              player.play();
            </script>
        {% endif %}{% if page.videoType == "mp4" %}
            <video
                id="my-player"
                class="video-js"
                controls
                preload="auto"
                poster=""
                data-setup='{}'>
            <source src="{{ page.videoUrl }}" type="video/mp4"></source>
            </video>
            <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
            <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
        {% endif %}
        </div>
        <div class="post-container">
            {{ content }}
        </div>
	</div>
</div>